[SEARCH]
COUNTRY_CODE=GB
SLEEP_TIME=0
LIMIT=50
MAX_REQUESTS=5

# default 10000
MINIMUM_EXPECTED_NEW_ADS=250 
# default 10000
MINIMUM_EXPECTED_NEW_IMPRESSIONS=100 

[POSTGRES]
HOST=localhost
DBNAME=polads
USER=postgres
PASSWORD=XXX
PORT=5432

[INPUT]
ARCHIVE_ADVERTISERS_FILE=advertiser_pages.csv

[FACEBOOK]
TOKEN=XXX_YOUR_LONG_LIVED_TOKEN_XXX

# [LOGGING]
# SLACK_URL=XXX
