# Configuration of ad renderer secrets
# ====================================
# Ad renderer secrets (the FB API token) should be stored in secrets.ini in the ./config/ directory of this project.
# This file contains a template with placeholder values that need to be changed.
# Be sure to update the configuration version and date below

[SECRETS]
version=0.0 (YYYY-MM-DD)


[adsnapshots]
fb_access_token = PLACEHOLDER
